body {
  background-color: rgb(253, 251, 251);
}

#cabecalho, #titulo {
  top: 0;
  padding: 15px;
  background-color: gray;
  text-align: center;
}

h1{
  color: greenyellow;
}

#rodape {
  padding: 10px;
  background-color: grey;
  top: 0;
}
table, th, td {
  border:2px solid black;
}