body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
    padding: 25px;
    background-color: gray;
    top: 0;
    text-align: center;
    

}

h1{
    color: greenyellow;
}

#rodape {
    padding: 10px;
    background-color: grey;
    top: 0;
    

}